<%-include('layouts/header.ejs')%>

<h1 class="title is-2">
  Welcome to authentication with passport js in node js
</h1>
<div class="notification is-primary">
  <p>this app will cover five main authentication methods</p>
  <ul>
    <li>Local Strategy</li>
    <li>Google auth2</li>
  </ul>
</div>
